body {
    background-color: #222;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    padding: 20px;
    background: black;
}

header span {
    font-weight: bold;
}

.links {
    display: flex;
    gap: 40px;
}

.links a {
    text-decoration: none;
    color: aliceblue;
}

header form input {
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}

header form button {
    background: aliceblue;
    color: black;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}