<header>
    <span>NODE JS RULES</span>
    <div class="links">
        <a href="/">Main Page</a>
        <a href="/about">About</a>
        <a href="/users/paladon/777">User Paladon</a>
    </div>
    <form>
        <input type="text" placeholder="Поиск по странице..."/>
        <button type="submit">Поиск</button>
    </form>
</header>