<header>
    <span>NODE JS RULES</span>
    <div class="links">
        <a href="/">Main Page</a>
        <a href="/about">About</a>
        <a href="/users/paladon/777">User Paladon</a>
    </div>
    <form method="POST" action="/check-user">
        <input type="text" name="username" placeholder="Имя пользователя"/>
        <button type="submit">Поиск</button>
        <!-- тип submit переадресует юзера (по ссылке в action), страница перезагрузится -->
    </form>
</header>